name: Update Tasks at Midnight

on:
  schedule:
    - cron: "* * * * *"   #UTC
  workflow_dispatch:      # Allows manual run from UI

jobs:
  run-task:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Run script
        run: node auto-functions/UpdateTasks.js